@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body{
    color: white;
    font-family: 'Happy Monkey', cursive;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
    text-align: center;
    margin: 0;
    background:linear-gradient(#a2d2ff,#EFB0C9);
}
header,section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#pic{
    margin: 1.25em 0;
    width: 12.5em;
    height: 12.5em;
    border-radius: 1000px;
    border: 6px solid #EFB0C9;
}
#text-under-image{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0 ;
    border-radius: 5px;
}
header{
    margin-bottom: 50px;
}
#ut{
    background-color: #EFB0C9;
    padding: 4px 9px 4px 9px;
    margin: 0;
}
#lt{
    background-color: #EFB0C9;
    margin: 0;
    padding: 0 4px 4px 4px;
    border-radius: 100px;
    align-self: end;
    margin-right: 5%;
}
.gift-note{
    margin: 20px 0 0 0;
}
.directions{
    margin: 10px 0;
}
.gift {
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    background-image: url("images/gift.jpg");
    background-size: cover;
    background-position:50%;
    border: 10px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}
#gift-one:hover{
    background-image: url("images/happy.gif");
}
#gift-two:hover{
    background-image: url("images/enter.webp");
}
#gift-three:hover{
    background-image: url("images/genius.webp");
}
#gift-four:hover{
    background-image: url("images/bond.webp");
}
#gift-five{
    height: 40vw;
    max-height: 200px;
}
#gift-five:hover{
    background-image: url("images/drink.webp");
}
footer{
    margin: 60px 0 80px 0;
}